/*
Theme Name: cxpert
Theme URI: http://mmr.com.au
Author: the MMR team
Author URI: http://mmr.com.au
Description: The cxpert theme based on twitter bootstrap
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blue, green, 12-column
Text Domain: cxpert
*/

@font-face {
    font-family: 'din_alternatebold';
    src: url('fonts/dinalternate-bold-webfont.eot');
    src: url('fonts/dinalternate-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinalternate-bold-webfont.woff2') format('woff2'),
         url('fonts/dinalternate-bold-webfont.woff') format('woff'),
         url('fonts/dinalternate-bold-webfont.ttf') format('truetype'),
         url('fonts/dinalternate-bold-webfont.svg#din_alternatebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'din_alternatebold';
}

.container {
	max-width: 975px;
}


.home-middle{
	background: #79c1b7;
	min-height: 26px;
	color: #ffffff;
	display: flex;
  	align-items: center;
  	padding: 10px 0;
  	/*margin: 10px 0;*/
}

.home-grey{
	background: #ebebeb;
}

.home-grey .blog-posts{
	border:0;
}

.navbar-default {
	margin-bottom: 0px;
	background-color: #000000;
	border: 0;
	color: #ffffff;
}


.navbar-right>li>a {
	padding-left: 5px;
	padding-right: 5px;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
	-o-transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-khtml-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	-ms-transition: color 0.5s linear;
	transition: color 0.5s linear;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
color: #6e6d6d;
background-color: transparent;
}

.nav:not(.navbar-right)>li>a {
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;
	padding: 15px 25px;
	font-size:17px;
}

<!-- Begin MailChimp Signup Form -->
                
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;
 }
#mc_embed_signup form{
	padding:0;
	margin-bottom:43px;
}  
#mc_embed_signup .mc-field-group label {
    color: #333;
	text-indent: 0;
    font-family: "din_alternatebold";
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform:capitalize;
} 
#mc_embed_signup .mc-field-group input{
	padding:4px 0;
}
#mc_embed_signup .mc-field-group {
	width:25%;	
	float:left;	
	clear:none;
	margin-right:20px;	
	padding-bottom:0;	
}
#mc_embed_signup .button{
	margin-top: 22px;
}
#mc_embed_signup .indicates-required{
	float:right;	
}
#mc_embed_signup div#mce-responses{
	width:100%;
	margin:0;
	padding:0;
}

          

 
@media (min-width: 768px) {
	.nav:not(.navbar-right)>li:first-child>a {
		padding-left: 0px;
	}

	.navbar-nav:not(.navbar-right) li:not(:last-child):after {
    	content: "|";
	}

	.navbar-collapse {
	padding-left: 0px;
	}

	.container-fluid{
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.masthead h1{
		font-size: 26px;
	}


}
@media (max-width: 767px) {
	.masthead h1{
		font-size: 14px;
		margin-bottom:5px;
		margin-top:5px;
	}
	
	
	.sticker {	
		width: 60px !important;
		height: 60px !important;
		padding:20px 10px 10px 7px !important;
		line-height:10px !important;
		background-size: 60px 60px !important;
	}
	
	.sticker a{
		font-size: 9px !important;
	}	
}
@media (max-width: 585px) {

	.indicates-required{
		display:none;
	}
}
@media (max-width: 391px) {
	#mc_embed_signup .mc-field-group{
		width:43%;
		margin:10px;
	}

	#mc_embed_signup .button{
		display:block;
		width:100%;
		float:left;
	}
	#mc_embed_signup form{
		margin-bottom:155px;
	}
}
.navbar-right>li>a {
	padding: 15px 12px
}

.navbar-right>li {
	float: left;
}

.navbar-default .navbar-toggle {
	border-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #79c1b7;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #000000;
}

.masthead h1{
	text-transform: uppercase;
}

h2{
	font-size: 21px;
	color: #311e73;
	text-transform: uppercase;
}

h3{
	font-size: 12px;
	color: #311e73;
	text-transform: uppercase;
}

 .home-body-col h2{
	margin-top: 10px;
}

 .home-body-col{
 	font-size: 14px;
 	padding-top: 20px;
 	padding-bottom: 20px;
 }

 .home-body-col ul{
 	margin: 0;
 	padding: 0 0 0 15px;

 }

.home-body-col ul li{
	text-indent: -5px;
}

.footer{
	color: #ffffff;
}


.footer h3{
	text-transform: uppercase;
	font-size: 20px;
	color: #ffffff;
}

.footer .contact {
	padding: 0 0 0 15px;
}

.footer .contact li{    
	padding: 5px 0;
	list-style-type: none;
}

.footer .contact li:before {    
	font-family: 'FontAwesome';
	margin:0 5px 0 -15px;
	color: #79c1b7;
}

.footer .contact li.adress:before {
	content: '\f041';
}

.footer .contact li.phone:before {
	content: '\f095';
}

.footer .contact li.email:before {
	content: '\f0e0';
}


.footer .really_simple_twitter_widget{
	padding: 0 0 0 15px;
}

.footer .really_simple_twitter_widget li{    
	padding: 5px 0;
	list-style-type: none;
}
.footer .really_simple_twitter_widget li:before {    
	font-family: 'FontAwesome';
	margin:0 5px 0 -15px;
	color: #79c1b7;
	content: '\f099';
}

.footer a{
	text-decoration: none;
	color: #ffffff;
}

.footer a:hover{
	text-decoration: underline;
}

.footer .navbar-brand {
	padding: 15px 0px;
	font-size: 11px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
	background-color: transparent;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
}

.navbar-right{
	font-size: 26px;
}

.col-pad{
	margin:30px 0;
}
.col-pad>h2{
	margin-top:0;
}

.blog-posts{
	border:#ebebeb 18px solid;
	background:#ffffff;
}

.blog-posts h2{
	display: inline-block;
	margin-top:15px;
}

.blog-posts h3, .col-pad h3{
	display: inline-block;
	float: right;

}

.blog-posts h4, .col-pad h4{
	margin-bottom: 5px;
}

.blog-posts h3 a, .col-pad h3 a{
	text-decoration: none;
	color: #311e73;
}

.blog-posts h3 a:hover, .col-pad h3 a:hover{
	text-decoration: underline;
}
.blog-posts hr {
	margin-top: 5px;
	border-top: 1px solid #000000;
}

.blog-posts ul, .col-pad ul {
	padding: 0;
}

.blog-posts ul li, .col-pad ul li{
	list-style-type: none;
	margin-top: 15px;
}

.blog-posts h4 a, .col-pad h4 a{
	text-decoration: none;
	color: #0085c5;
	text-transform: uppercase;
}

.more-link{
	color: #79c1b7;
}

.more-link:hover{
	color: #79c1b7;
}

.foot_col_1 div.col-1{
	float:left;
	width:100px;
	margin-right:10px;
}
.foot_col_1 div.col-2{

}

.inner-page ul {
	padding: 0 0 0 20px;
}

.inner-page  ul li {
	list-style-type: disc;
	margin-top: 10px;
}

.inner-page h3 {
	display: block;
	float: none;
	color: #79c1b7;
	font-size: 16px;
	margin-bottom: 0px;
}

.sticker {	
	text-align:center;
	
	width: 100px;
	height: 100px;
	padding:35px 15px 15px 15px;
	
	/*background: -moz-radial-gradient(center, ellipse cover, #c40000 0%, #000 400%);
	background: -webkit-radial-gradient(center, ellipse cover, #c40000 0%, #000 400%);
	background: -o-radial-gradient(center, ellipse cover, #c40000 0%, #000 400%);
	background: radial-gradient(center, ellipse cover, #c40000 0%, #000 400%);*/
	
	background: url(images/zigzag.png) no-repeat;
	background-size: 100px 100px;
	/*box-shadow: 0px 1px 5px -1px #000;
	border-radius: 50%;*/
	text-shadow: 0px 2px 3px #7b0000;
	
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
	
	margin:10px 0;
	
	line-height:18px;
	
}

.sticker a{
	font-size: 14px;
	color:#ffffff;
}

.sb-paginate.dark-style .paginate-item {
	background-color: #79c1b7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#79c1b7), to(#0085c5));
	background-image: -webkit-linear-gradient(top, #79c1b7, #0085c5);
	background-image: -moz-linear-gradient(top, #79c1b7, #0085c5);
	background-image: -ms-linear-gradient(top, #79c1b7, #0085c5);
	background-image: -o-linear-gradient(top, #79c1b7, #0085c5);
	background-image: linear-gradient(to bottom, #79c1b7, #0085c5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#79c1b7, endColorstr=#0085c5);
}

.sb-paginate.dark-style .paginate-item.current-item {
	background: none repeat scroll 0 0 #1e1e1e;
}
/*comments*/
.comments-area .commentlist{
	list-style:none;
	padding-left:17px;
}
.comments-area .vcard .avatar{
	display:none;
}
.comments-area .vcard .fn{
	font-weight:bold;
	color:#79c1b7
}
.comments-area .comment{
	
	padding-bottom:0px;
	margin-bottom:15px;
}
.comments-area .comment div{
	border-bottom:1px solid #000000;
}
.comments-area .comment div.vcard, .comments-area .comment div.comment-meta{
	border:none;
}
.comments-area .commentmetadata{
	color: #428bca;
}
  
.commentlist .reply{
	display:none;
}
#respond #reply-title{
	display:none;
}
#respond .form-allowed-tags{
	display:none;
}
#respond #comment{
	width:100%;
	resize:none;
}
#commentform .comment-form-url{
	display:none;
}
html input[type="button"], input[type="submit"] {
	background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    clear: both;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
	font-weight:normal;
}
input[type="submit"]:hover {
	background-color: #777;
}

/*END of comments*/

